/* Variables */
:root {
  --dark-color: #333;
  --light-color: #f3f3f3;
  --max-width: 1100px;
}

html, body {
  background-color: var(--dark-color);
}

/* Utilities */
.container {
  max-width: var(--max-width);
}

/* Memory game */
#memory-game .memory-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
  grid-column: 1;
  grid-gap: 1rem;
}

#memory-game .memory-grid > * {
  background-color: #f3f3f3;
  justify-self: center;
  height: 100%;
  width: 100%;
}

#memory-game .memory-grid img {
  height: 100%;
  width: 100%;
}

#memory-game .memory-grid img:hover {
  cursor: pointer;
}



