/* Global variables */
:root {
  --primary-color: #ff4d00;
  --secondary-color: #ffc100;	
  --dark-color: #333;
  --light-color: #f3f3f3;
}

/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
}

.current {
  background-color: var(--primary-color);
}

/* Header */
header {
  background-color: var(--dark-color);
}

/* Navbar */
.main-navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: 0 1rem;
}

.main-navbar ul {
  display: flex;
  flex-direction: row;
  justify-self: end;
}

.main-navbar .logo,
.main-navbar ul li a {
  padding: 1rem;
}

.main-navbar .logo a:hover {
  color: var(--primary-color);
}

.main-navbar ul li a:hover {
  background-color: var(--light-color);
  color: var(--primary-color);
}



