/* Text colors */
.txt-primary {
  color: #ff7400;
}

.txt-dark {
  color: #333;
}

.txt-light {
  color: #f4f4f4;
}

.txt-secondary {
  color: #ff4d00;
}

/* Background */
.bg-primary {
  color: #ff7400;
}

.bg-dark {
  color: #333;
}

.bg-light {
  color: #f4f4f4;
}

.bg-secondary {
  color: #ff4d00;
}