<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" media="screen and (max-width:768px)" href="../css/mobile.css">
  <script src="https://kit.fontawesome.com/95f2ce0fc1.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico">
  <title>Latest News</title>
</head>

<body>
  <nav class="main-navbar">
    <div class="container">
      <img class="logo" src="../img/logo.png" alt="NewsGrid logo">
      <div class="social">
        <a href="http://facebook.com" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="http://twitter.com" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="http://instagram.com" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="http://youtube.com" target="_blank"><i class="fab fa-youtube fa-2x"></i></a>
      </div>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
      </ul>
    </div>
  </nav>

  <section id="article">
    <div class="container">
      <div class="page-container">
        <article class="card">
          <img src="../img/articles/ent1.jpg" alt="">
          <h1 class="l-heading">Lorem ipsum dolor sit amet</h1>
          <div class="meta">
            <small>
              <i class="fas fa-user"></i> Written by John Doe January 12, 2020
            </small>
            <div class="category category-ent">Entertainment</div>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut error, animi, dignissimos excepturi a nam est
            eligendi eaque assumenda, dolorum vitae recusandae? Enim deserunt dolorem id minus consequuntur architecto
            sint sit, saepe nisi nemo et nam nostrum nulla eum corrupti odio, modi quas distinctio ex fuga. Consequuntur
            expedita possimus voluptatum.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus asperiores modi repellendus ducimus
            ipsum doloremque perspiciatis quam nobis quaerat commodi voluptates, laboriosam repudiandae architecto,
            magni delectus eius libero quisquam nesciunt neque dolorum similique! Aspernatur placeat obcaecati velit
            quisquam, earum sapiente? Quidem itaque eveniet voluptatum molestiae quibusdam reiciendis similique corrupti
            deserunt.</p>
        </article>
        <aside id="categories" class="card">
          <h2>Categories</h2>
          <ul class="list">
            <li><a href="#" class="fas fa-chevron-right">Sports</a></li>
            <li><a href="#" class="fas fa-chevron-right">Entertainment</a></li>
            <li><a href="#" class="fas fa-chevron-right">Technology</a></li>
            <li><a href="#" class="fas fa-chevron-right">Fashion</a></li>
            <li><a href="#" class="fas fa-chevron-right">Shopping</a></li>
          </ul>
        </aside>

        <aside class="card bg-secondary">
          <h2>Join Our Club</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, quia!</p>
          <a href="" class="btn btn-dark btn-block">Join Now</a>
        </aside>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer id="main-footer" class="py-2">
    <div class="container footer-container">
      <div>
        <img src="../img/logo_light.png" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet minus inventore dolor autem beatae ipsum ex
          mollitia voluptas. Aperiam, reiciendis?</p>
      </div>
      <div>
        <h3>Email Newsletter</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, doloremque.</p>
        <form>
          <input type="email" placeholder="Enter Email...">
          <input type="submit" class="btn btn-primary">
        </form>
      </div>
      <div>
        <h3>Site Links</h3>
        <ul class="list">
          <li><a href="#">Help & Support</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div>
        <h2>Join Our Club</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, ipsum.</p>
        <a href="#" class="btn btn-secondary">Join Now</a>
      </div>
      <div>
        <p>Copyright &copy; 2020, All Rights Reserved</p>
      </div>
    </div>
  </footer>
</body>

</html>