<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/utilities.css">
  <link rel="stylesheet" href="../css/style.css">
  <title>Welcome | Art Gallery</title>
</head>

<body id="home">
  <header class="main-header">
    <div class="main-navbar">
      <h1 class="logo"><a href="#home"><i class="fas fa-palette"></i> Arty</a></h1>
      <nav>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#courses">Courses</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div class="cover">
      <h1 class="stroke-dark txt-primary">The Beauty Of Art</h1>
      <a href="#about" class="btn btn-dark my-3">More About Us</a>
    </div>
  </header>

  <main>
    <!-- Services -->
    <section class="services">
      <div class="flex-items">
        <div class="box">
          <i class="fas fa-paint-brush fa-2x"></i>
          <h3 class="my-3">Courses</h3>
          <p class="my-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, molestiae.</p>
        </div>
        <div class="box">
          <i class="fas fa-utensils fa-2x"></i>
          <h3 class="my-3">Snack Bar</h3>
          <p class="my-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, molestiae.</p>
        </div>
        <div class="box">
          <i class="fas fa-wifi fa-2x"></i>
          <h3 class="my-3">Free Wifi</h3>
          <p class="my-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, molestiae.</p>
        </div>
      </div>
    </section>

    <!-- About -->

  </main>

  <!-- <footer class="footer">

  </footer> -->
</body>

</html>