<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
  <title>Welcome | Art Gallery</title>
</head>

<body id="home">
  <!-- Header -->
  <header>
    <div class="container">
      <nav class="main-navbar">
        <div>
          <h1 class="logo">
            <a href="#home"><i class="fas fa-palette"></i> Art</a>
          </h1>
        </div>
        <ul>
          <li><a class="current" href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <div class="container">
      <section class="main-cover">
        <h1 class="stroke-dark">
          THE <span class="txt-primary">BEUTY</span>
          IS IN YOUR HEART
        </h1>
        <h3 class="stroke-dark">
          BUT THE EYES ARE THE WAY IN
        </h3>
      </section>

      <section class="main-services">
        <div>
          <i class="fas fa-wifi fa-2x"></i>
          <h3>Free Wifi</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod, quo.</p>
        </div>
        <div>
          <i class="fas fa-utensils fa-2x"></i>
          <h3>Lunch & Dinner</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod, quo.</p>
        </div>
        <div>
          <i class="fas fa-chalkboard-teacher fa-2x"></i>
          <h3>Courses</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod, quo.</p>
        </div>
      </section>

      <section id="about">
        <div class="flex-column">
          <div>
            <img src="../img/courses/course1.jpeg" alt="">
          </div>
          <div>
            <h3><span class="txt-light stroke-dark">About</span> Us</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid minima nisi inventore possimus
              reiciendis earum sit cumque, excepturi eveniet eaque aspernatur magnam modi corporis autem minus veniam
              praesentium, itaque facilis dolorum, odit quis adipisci id. Culpa aperiam eligendi numquam itaque.</p>
            <a href="#about" class="btn btn-dark">Read More</a>
          </div>
        </div>
      </section>

      <section id="gallery">
        <h1 class="stroke-primary">The Gallery</h1>
        <div class="flex-grid">
          <div class="column">
            <img src="../img/paint/paint1.jpeg" alt="">
          </div>
          <div class="column">
            <img src="../img/paint/paint2.jpeg" alt="">
          </div>
          <div class="column">
            <img src="../img/paint/paint3.jpeg" alt="">
          </div>
          <div class="column">
            <img src="../img/paint/paint4.jpeg" alt="">
          </div>
          <div class="column">
            <img src="../img/paint/paint5.jpeg" alt="">
          </div>
          <div class="column">
            <img src="../img/paint/paint6.jpeg" alt="">
          </div>
          <div class="column">
            <img src="../img/paint/paint7.jpeg" alt="">
          </div>
          <div class="column">
            <img src="../img/paint/paint8.jpeg" alt="">
          </div>
          <div class="column">
            <img src="../img/paint/paint9.jpeg" alt="">
          </div>
        </div>
      </section>

      <section id="team">
        <div>
          <img src="../img/people/person1.jpeg" alt="">
          <h3>CEO</h3>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div>
          <img src="../img/people/person3.jpeg" alt="">
          <h3>SEO</h3>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div>
          <img src="../img/people/person2.jpeg" alt="">
          <h3>Artist</h3>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
      </section>

      <section id="contact">
        <div class="flex-column">
          <div>
            <h3><span class="txt-primary stroke-dark">Contat</span> Us</h3>
            <form>
              <div class="form-group">
                <label for="name"></label>
                <input type="text" placeholder="name">
              </div>
              <div class="form-group">
                <label for="email"></label>
                <input type="email" placeholder="email">
              </div>
            </form>
            <a href="#contact" class="btn btn-dark">Read More</a>
          </div>
          <div>
            <img src="../img/courses/course3.jpeg" alt="">
          </div>
        </div>
      </section>
    </div>
  </main>
</body>

</html>