<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/95f2ce0fc1.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../css/utilities.css">
  <link rel="stylesheet" href="../css/style.css">
  <title>Welcome | Art Gallery</title>
</head>

<body id="#home">
  <header class="header" id="home">
    <div id="navbar" class="navbar">
      <h1 class="logo text-primary"><i class="fas fa-palette"></i> Art-G</h1>
      <nav>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>

    <div class="content text-primary">
      <h1 class="stroke-dark">Color Your Life</h1>
      <!-- <a href="#about" class="btn">See More</a> -->
    </div>
  </header>

  <main>
    <section class="about" id="about">
      <div class="row">
        <div class="column">
          <div class="column-1">
            <img src="../img/cover/cover2.jpeg" alt="">
          </div>
        </div>
        <div class="column">
          <div class="column-2">
            <h3><span class="text-primary">About</span> Our Gallery</h3>
            <p class="my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam iure, voluptatum maxime et
              veritatis
              recusandae!</p>
            <a href="#about" class="btn my-3">See More</a>
          </div>
        </div>
      </div>
    </section>

    <section class="contact" id="contact">
      <div class="row bg-primary text-light">
        <div class="column">
          <img src="../img/people/person3.jpeg" alt="">
          <h3 class="my-3">CEO</h3>
        </div>
        <div class="column">
          <img src="../img/people/person2.jpeg" alt="">
          <h3 class="my-3">SEO</h3>
        </div>
        <div class="column">
          <img src="../img/people/person1.jpeg" alt="">
          <h3 class="my-3">Artist</h3>
        </div>
      </div>
    </section>
  </main>

  <footer class="footer">
    <div class="social">
      <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
      <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
      <a href="#"><i class="fas fa-envelope fa-2x"></i></a>
    </div>
    <p>All Rights Reserved &copy</p>
  </footer>
</body>

</html>